<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example App</title>
    <script src="https://unpkg.com/tko/dist/tko.es6.min.js"></script>
    <style>
        .form {
            margin: 1em;
        }

        .alert-danger {
            color: red;
        }

        .alert-success {
            color: greenyellow;
            font-weight: bold;
        }

        .form input {
            width: 40%;
            margin-bottom: 1em;
        }


        .form input[type=submit] {
            width: 10em;
        }


        .control-label {
            display: block;
        }
    </style>

</head>
<body>
<ul>
    <li><a href="{{ url_for('page_index') }}">home</a></li>
    <li><a href="{{ url_for('page_rules') }}">rules</a></li>
</ul>
{% block app_content %}{% endblock %}

</body>
</html>