<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example App</title>
    <style>
        .form {
            margin: 1em;
        }

        .alert-danger {
            color: red;
        }

        .alert-success {
            color: greenyellow;
            font-weight: bold;
        }

        .form input {
            width: 40%;
            margin-bottom: 1em;
        }


        .form input[type=submit] {
            width: 10em;
        }


        .control-label {
            display: block;
        }
    </style>

</head>
<body>
{% block app_content %}{% endblock %}

</body>
</html>